<div style="margin:2rem">
  <mat-icon>done</mat-icon>
  <mat-icon color="primary">perm_identity</mat-icon>
</div>
<div style="margin:2rem">
  <span [matBadge]="notification" [matBadgeHidden]="notification===0" matBadgeOverlap="false">notification</span>
</div>
<div style="margin:2rem">
  <span matBadge="0" matBadgePosition="below before" matBadgeColor="warn">notification</span>
</div>
<div style="margin:2rem">
  <span matBadge="5" matBadgePosition="below after" matBadgeSize="large" matBadgeColor="accent">notification</span>
</div>
<div style="margin:2rem">
  <span matBadge="5" matBadgePosition="above before" matBadgeSize="small" matBadgeColor="primary">notification</span>
</div>
<!-- https://fonts.google.com/icons?selected=Material+Icons -->
